<div class="carousel-container">
    {{ range $slide := .Site.Data.carousel.images }}
    <div class="slide">
        <img src="{{ $slide.image }}" alt="" />
        <div class="slide-title-container">
            <h2 class="slide-title"><a href="{{ $slide.link }}">{{ $slide.title }}</a></h2>
            <div class="slide-info">
                {{ with $.Site.GetPage $slide.link }}
                <div class="slide-summary">
                    <p>{{ .Summary }}</p>
                </div>
                {{ end }}
            </div>
            <div>
                <a href="/blog" class="more-link">All stories</a>
            </div>
        </div>
    </div>
    {{ end }}

    <div class="prev">&lsaquo;</div>
    <div class="next">&rsaquo;</div>
</div>

<div class="mobile-carousel">
    {{ with index .Site.Data.carousel.images 0 }}
    <h2 class="mobile-carousel-title"><a href="{{ .link }}">{{ .title }}</a></h2>
    <img src="{{ .image }}" />
    {{ end }}
</div>