<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{{ .Title }}</title>

  {{ $styles := resources.Get "css/style.css" }}
  <link rel="stylesheet" href="{{ $styles.Permalink }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
  <script type="text/javascript" src="/js/mobile-menu.js"></script>
  <script type="text/javascript" src="/js/search-modal.js"></script>
  <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  <link rel="icon" type="image/png" href="/favicon/favicon-96x96.png" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/favicon/favicon.svg" />
  <link rel="shortcut icon" href="/favicon/favicon.ico" />
  <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-touch-icon.png" />
  <meta name="apple-mobile-web-app-title" content="OSU-OSL" />
  <link rel="manifest" href="/favicon/site.webmanifest" />
</head>
