<header>
  <div class="header-container">
    <div class="logo-container">
      <a href="https://oregonstate.edu" class="">
        <img src="/images/OSU_newlogo.png" class="logo" alt="Oregon State University" />
      </a>
    </div>
    <div class="search-container">
      <button class="open-search" id="open-search"><i class="fa-solid fa-search"></i></button>
    </div>
    <div class="mobile-menu-container">
      <a class="toggle-mobile-menu" id="toggle-mobile-menu"><i class="fa-solid fa-bars"></i></a>
    </div>
  </div>
  <div class="subheader-container">
    <a href="https://cass.oregonstate.edu/">Center for Applied Systems & Software</a>
    <span class="logo-divider">>></span>
    <a href="https://osuosl.org/" class="osl-logo-link">OSU Open Source Lab</a>
  </div>
</header>
