<header>
    <div class="header-container">
        <div class="logo-container">
            <a href='https://oregonstate.edu' class=''>
                <img src="/images/OSU_newlogo.png" class='logo' alt='Oregon State University'>
            </a>
        </div>
        <div class="search-container">
            <form class="search-form">
                <input class="search" type="text" placeholder="Search this site">
                <button type="submit" class="submit-search"><i class="fa-solid fa-search"></i></button>
            </form>
        </div>
    </div>
    <div class="subheader-container">
        <a href="https://cass.oregonstate.edu/">Center for Applied Systems & Software</a>
        <span class="logo-divider">>></span>
        <a href="https://osuosl.org/" class="osl-logo-link">OSU Open Source Lab</a>
    </div>
</header>