<footer class="site-footer">
  <div class="container-xxl">
    <div class="row g-4">
      <div class="col-lg-3 col-md-6">
        <div class="footer-logo">
          <a href="https://oregonstate.edu/">
            <img
              src="{{ "images/osu-logo-2c-dark.svg" | relURL }}"
              alt="Oregon State University"
              width="220"
              height="70"
            />
          </a>
        </div>
        <address class="mt-3 mb-0">
          <strong>OSU Open Source Lab</strong><br />
          224 Milne Computer Center<br />
          1800 SW Campus Way<br />
          Corvallis, OR 97331<br />
          <a href="mailto:info@osuosl.org">info@osuosl.org</a><br />
          Phone: <a href="tel:+15417379900">541-737-9900</a>
        </address>
      </div>
      <nav class="col-lg-6 col-md-6" aria-label="Footer">
        <div class="row g-4">
          {{ range site.Menus.main }}
            {{ if .HasChildren }}
              <div class="col-6 col-lg-4">
                <h2><a href="{{ .URL }}">{{ .Name }}</a></h2>
                <ul>
                  {{ range .Children }}
                    <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          {{ end }}
          <div class="col-6 col-lg-4">
            <h2>Site</h2>
            <ul>
              {{ range site.Menus.main }}
                {{ if not .HasChildren }}
                  <li><a href="{{ .URL }}">{{ .Name }}</a></li>
                {{ end }}
              {{ end }}
            </ul>
          </div>
        </div>
      </nav>
      <div class="col-lg-3">
        <h2>Community</h2>
        <ul>
          <li>
            <a href="https://github.com/osuosl">
              {{ partial "icon.html" (dict "name" "github") }}
              GitHub
            </a>
          </li>
          <li>
            <a href="https://status.osuosl.org/">
              {{ partial "icon.html" (dict "name" "heart-pulse") }}
              Service status
            </a>
          </li>
          <li>
            <a href="https://libera.chat/">
              {{ partial "icon.html" (dict "name" "users") }}
              #osuosl on Libera.Chat
            </a>
          </li>
          <li>
            <a href="{{ "blog/index.xml" | relURL }}">
              {{ partial "icon.html" (dict "name" "rss") }}
              Blog RSS feed
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="footer-legal d-flex flex-wrap gap-3 justify-content-between">
      <p class="mb-0">Copyright &copy;2016&ndash;{{ now.Year }} Oregon State University</p>
      <ul class="list-unstyled d-flex flex-wrap gap-3 mb-0">
        <li><a href="https://oregonstate.edu/copyright">Copyright</a></li>
        <li><a href="https://accessibility.oregonstate.edu/">Accessibility</a></li>
        <li><a href="https://oregonstate.edu/official-web-disclaimer">Disclaimer</a></li>
      </ul>
    </div>
  </div>
</footer>
