<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  {{ $title := cond (eq .Title site.Title) .Title (printf "%s | %s" .Title site.Title) }}
  <title>{{ $title }}</title>
  <meta name="title" content="{{ $title }}" />
  <meta name="description" content="{{ or .Description site.Params.description }}" />

  {{ partial "opengraph.html" . }}
  {{ partial "twitter_cards.html" . }}

  {{/* Styles */}}
  {{ $styles := resources.Get "css/style.css" | minify | fingerprint }}
  <link rel="stylesheet" href="{{ $styles.RelPermalink }}" integrity="{{ $styles.Data.Integrity }}" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />

  {{/* Scripts */}}
  {{ $js := slice (resources.Get "js/mobile-menu.js") (resources.Get "js/search-modal.js")
    | resources.Concat "js/main.js"
    | minify
    | fingerprint
  }}
  <script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}" defer></script>
  {{ if .Params.recaptcha }}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
  {{ end }}

  {{/* Favicons */}}
  <link rel="icon" type="image/png" href="{{ "favicon/favicon-96x96.png" | relURL }}" sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="{{ "favicon/favicon.svg" | relURL }}" />
  <link rel="shortcut icon" href="{{ "favicon/favicon.ico" | relURL }}" />
  <link rel="apple-touch-icon" sizes="180x180" href="{{ "favicon/apple-touch-icon.png" | relURL }}" />
  <meta name="apple-mobile-web-app-title" content="{{ $title }}" />
  <link rel="manifest" href="{{ "favicon/site.webmanifest" | relURL }}" />

  {{ with .OutputFormats.Get "rss" }}
    {{ printf `<link rel=%q type=%q href=%q title=%q>` .Rel .MediaType.Type .Permalink site.Title | safeHTML }}
  {{ end }}
</head>
