{{ $paginator := .Paginator }}
{{/* Number of page links either side of the current page */}}
{{ $adjacent := 2 }}
{{ $maxLinks := add (mul $adjacent 2) 1 }}
{{ $lower := add $adjacent 1 }}
{{ $upper := sub $paginator.TotalPages $adjacent }}

{{ if gt $paginator.TotalPages 1 }}
  <nav aria-label="Page navigation" class="page-navigation">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="{{ $paginator.First.URL }}">First</a>
      </li>
      <li class="page-item">
        {{ if $paginator.HasPrev }}
          <a class="page-link" href="{{ $paginator.Prev.URL }}" rel="prev">
            {{ partial "icon.html" (dict "name" "chevron-left" "label" "Previous page") }}
          </a>
        {{ else }}
          <a class="page-link" href="{{ $paginator.First.URL }}">
            {{ partial "icon.html" (dict "name" "chevron-left" "label" "Previous page") }}
          </a>
        {{ end }}
      </li>
      {{ range $paginator.Pagers }}
        {{ $show := false }}
        {{ if gt $paginator.TotalPages $maxLinks }}
          {{ if le $paginator.PageNumber $lower }}
            {{/* Current page is within the first pages */}}
            {{ $show = le .PageNumber $maxLinks }}
          {{ else if ge $paginator.PageNumber $upper }}
            {{/* Current page is within the last pages */}}
            {{ $show = gt .PageNumber (sub $paginator.TotalPages $maxLinks) }}
          {{ else }}
            {{/* Current page is in the middle */}}
            {{ $show = and (ge .PageNumber (sub $paginator.PageNumber $adjacent))
              (le .PageNumber (add $paginator.PageNumber $adjacent))
            }}
          {{ end }}
        {{ else }}
          {{ $show = true }}
        {{ end }}
        {{ if $show }}
          <li class="page-item page-number {{ if eq . $paginator }}active{{ end }}">
            <a class="page-link" href="{{ .URL }}" {{ if eq . $paginator }}aria-current="page"{{ end }}>
              {{ .PageNumber }}
            </a>
          </li>
        {{ end }}
      {{ end }}
      <li class="page-item">
        {{ if $paginator.HasNext }}
          <a class="page-link" href="{{ $paginator.Next.URL }}" rel="next">
            {{ partial "icon.html" (dict "name" "chevron-right" "label" "Next page") }}
          </a>
        {{ else }}
          <a class="page-link" href="{{ $paginator.Last.URL }}">
            {{ partial "icon.html" (dict "name" "chevron-right" "label" "Next page") }}
          </a>
        {{ end }}
      </li>
      <li class="page-item">
        <a class="page-link" href="{{ $paginator.Last.URL }}">Last</a>
      </li>
    </ul>
  </nav>
{{ end }}
