<article class="list__item post card">
  <div class="post-image">
    {{ $cover := or .Params.Cover "/images/OSLSignPicture.jpg" }}
    <img
      src="{{ $cover }}"
      {{- if .Params.cover_height -}}
        style="object-position: center {{ .Params.cover_height }}"
      {{- end -}}
    />
  </div>
  <div class="post-info">
    <header class="list__header">
      <h2 data-pagefind-meta="title" class="list__title post__title ">
        <a href="{{ .RelPermalink }}" rel="bookmark" class="hover-link">
          {{ .Title }}
        </a>
      </h2>
      <div class="metadata">
        <p><i class="fa-regular fa-user"></i> {{ delimit .Params.authors ", " " and " }}</p>
        <p><i class="fa-regular fa-calendar-days"></i> {{ .Date | dateFormat "Mon, Jan 02 2006" }}</p>
        <p><i class="fa-regular fa-hourglass-half"></i> {{ .ReadingTime }} mins</p>
        {{ with .GetTerms "tags" }}
          <ul class="tag-list">
            {{ range . }}
              <li class="tag"><a href="{{ .RelPermalink }}">#{{ .Slug }}</a></li>
            {{ end }}
          </ul>
        {{ end }}
      </div>
      {{- with .Params.lead }}
        <p class="list__lead post__lead">{{ . }}</p>
      {{- end }}
      {{ with partial "post_meta.html" . -}}
        <div class="list__meta meta">{{ . }}</div>
      {{- end }}
    </header>
    <div class="content list__excerpt post__content">
      {{ .Summary | plainify }}
    </div>
    {{- if .Truncated }}
      <div class="list__footer clearfix">
        <a class="list__footer-readmore link-button" href="{{ .RelPermalink }}">Read more &rarr;</a>
      </div>
    {{- end }}
  </div>
</article>
