{{ if .IsNamedParams }}
  {{ $data := index site.Data (.Get "file") }}
  {{ $current := slice }}
  {{ range $data }}
    {{ if ne .status "former" }}{{ $current = $current | append . }}{{ end }}
  {{ end }}
  <table class="table table-striped caption-top">
    <caption>
      Hosted projects ({{ len $current }} projects)
    </caption>
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Services</th>
      </tr>
    </thead>
    <tbody>
      {{ range $current }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .description }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{- end -}}
