{{ if .IsNamedParams }}
  {{ $data := index site.Data (.Get "file") }}
  <table class="table table-striped caption-top">
    <caption>
      {{ .Get "table_title" }} ({{ len $data }} projects)
    </caption>
    <thead>
      <tr>
        <th scope="col">Project</th>
        <th scope="col">Description</th>
      </tr>
    </thead>
    <tbody>
      {{ range $data }}
        <tr>
          <td>{{ .name }}</td>
          <td>{{ .description }}</td>
        </tr>
      {{ end }}
    </tbody>
  </table>
{{- end }}
