{{ define "main" }}
  {{- partial "menu.html" . -}}


  <div class="hero-container">
    <div class="hero-text">
      <h1>Open Source Lab</h1>
      <p>{{ .Site.Params.Description }}</p>
      <p class="hero-links">
        <a class="link-button" style="background-color: olivedrab" href="/donate"><i class="fa-solid fa-hand-holding-dollar"></i> Donate</a>
        <a class="link-button" href="/services"><i class="fa-solid fa-server"></i> Services</a>
        <a class="link-button secondary" href="blog"><i class="fa-solid fa-newspaper"></i> Blog</a>
      </p>
    </div>
  </div>
  <main class="main_content">
    <section class="info-container">
      <div class="hosting-container">
        <h1>Hosting</h1>
        <p>Based on your hosting needs, we offer unmanaged and managed hosting for different environments:</p>
      </div>

      <div class="hosting-card-container">
        <div class="hosting card">
          <div>
            <h2><a href="services/hosting" class="hover-link">General Hosting</a></h2>
            <p>
              Open source projects are invited to use our hosting services for development, which can be set up based on
              your needs.
            </p>
          </div>
          <div class="hosting-links">
            <a class="link-button" href="request-hosting/">Request Hosting</a>
            <a class="link-button secondary" href="services/hosting">More Info</a>
          </div>
        </div>
        <div class="hosting card">
          <div>
            <h2><a href="services/aarch64" class="hover-link">AARCH64</a></h2>
            <p>
              Use our AARCH64 servers to develop and test open source projects on the AARCH64 Architecture platform and
              in a AARCH64 environment.
            </p>
          </div>
          <div class="hosting-links">
            <a class="link-button" href="services/aarch64/request_hosting/">Request Hosting</a>
            <a class="link-button secondary" href="services/aarch64">More Info</a>
          </div>
        </div>

        <div class="hosting card">
          <div>
            <h2><a href="services/powerdev" class="hover-link">OpenPOWER</a></h2>
            <p>
              Use our OpenStack-based POWER servers to develop and test open source projects on the Power Architecture
              platform and in a PowerLinux environment.
            </p>
          </div>
          <div class="hosting-links">
            <a class="link-button" href="services/powerdev/request_hosting/">Request Hosting</a>
            <a class="link-button secondary" href="services/powerdev">More Info</a>
          </div>
        </div>

        <div class="hosting card">
          <div>
            <h2><a href="services/powerdev" class="hover-link">POWER Continuous Integration (CI)</a></h2>
            <p>
              Hosted via the OpenStack cluster is an OSL managed Jenkins service intended to allow projects easier
              access to the POWER architecture via Jenkins.
            </p>
          </div>
          <div class="hosting-links">
            <a class="link-button" href="services/powerdev/request_powerci/">Request Hosting</a>
            <a class="link-button secondary" href="services/powerdev">More Info</a>
          </div>
        </div>

        <div class="hosting card">
          <div>
            <h2><a href="services/ibm-z/" class="hover-link">IBM Z</a></h2>
            <p>Use our IBM Z based servers to host projects, with access to the s390x architecture via Jenkins.</p>
          </div>
          <div class="hosting-links">
            <a class="link-button" href="services/ibm-z/request_ci/">Request Hosting</a>
            <a class="link-button secondary" href="services/ibm-z/">More Info</a>
          </div>
        </div>
      </div>
    </section>

    <section class="blog-container">
      <h1>Blog</h1>

      <div class="blog-summaries">
        {{ range first 5 (where .Site.RegularPages "Section" "blog") }}
          {{ .Render "summary" }}
        {{ end }}
      </div>

      <p class="read-more">
        <a href="/blog" class="read-more-link"
          >More Blog Posts ({{ where .Site.RegularPages "Section" "blog" | len }})</a
        >
      </p>
    </section>
  </main>
{{ end }}
