<article class="card blog-card">
  <div class="card-body">
    <h2 class="card-title h4">
      <a href="{{ .RelPermalink }}">{{ .Title }}</a>
    </h2>
    <div class="post-meta">
      <span>{{ partial "icon.html" (dict "name" "user") }} {{ delimit .Params.authors ", " " and " }}</span>
      <span>
        {{ partial "icon.html" (dict "name" "calendar") }}
        <time datetime="{{ .Date.Format "2006-01-02" }}">{{ .Date.Format "Mon, Jan 02 2006" }}</time>
      </span>
      <span>{{ partial "icon.html" (dict "name" "clock") }} {{ .ReadingTime }} minute read</span>
    </div>
    {{ with .GetTerms "tags" }}
      <ul class="tag-list mb-2">
        {{ range . }}
          <li>
            <a class="badge text-bg-secondary text-decoration-none" href="{{ .RelPermalink }}">#{{ .LinkTitle }}</a>
          </li>
        {{ end }}
      </ul>
    {{ end }}
    <p class="card-text">{{ .Summary | plainify }}</p>
    {{ if .Truncated }}
      <a class="btn btn-outline-secondary btn-sm" href="{{ .RelPermalink }}">
        Read more<span class="visually-hidden"> of {{ .Title }}</span> &rarr;
      </a>
    {{ end }}
  </div>
</article>
